body {
    width: 80%;
    margin: 0 auto;
}
h1{
    color:brown;
    font-size: 40px;
}

#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
}

.tocnumber {
    color: black;
}


/*use it for js classList*/
.h2Style{
    color:chartreuse;
}
.h2Border{
    border:2px double red;
}
.liBorder{
    border:1px double pink; 
}